*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Evita Archivos temporales
*~

# Evita informes de Ant (Usa la nomenclatura Inicial de los test)
TEST-.*

# Evita la Carpeta Build
build

# Evita la carpeta bin
bin

# archivos classpath y project
.classpath
.project

# Sin archivos .html
*.html
